<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <title>Job Added</title>
    </head>
    <body>
        <h1>You added a new Job!</h1>
        <p>{{ newjob.getTitle }}</p>
        <p>{{ newjob.getDescription }}</p>
        <button class"btn">
            <a href='/'>Back to resume</a>
        </button>
    </p>
</body>
</html>
